<h3  class="sub-title">You created the following task</h3>
<div class="card mb-3 style ="max-with: 540px;">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><h6 class="task-title">Task Title: </h6><%= @tasks.title %>
                <p class="card-text"><h6 class="task-title">Task Description: </h6><%= @tasks.description %>
                <p class="card-text"><h6 class="task-title">Skills Required: </h6>
                    <%= @tasks.skills%>
                </p>
            </div>
        </div>
    </div>
</div>

