<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="#">RMIT MATCHWORS</a>
    <div class="custom-btn">
        <%= link_to "Back to Home", root_path, class:"btn btn-primary"%>
    </div>
</nav>