
<div class="footer">
    <div class="row">
        <div class="col">
            <h5> About us </h5>
            <p class="justify">We are a group of 5 students working on
            our final project at RMIT University.</p>
        </div> <!--end of colum div-->
        <div class="col">
            <h5>How this app works </h5>
            <p> The use of this app is very simple, first register, then post a taks and then assigns it to someone </p>
        </div> <!--end of colum div-->
        <div class="col">
            <h5>Our contact Details </h5>
            <a href = "mailto:abc@example.com?subject = Feedback&body = Message">Send Feedback</a></br>
            <a href="tel:+61450 442525">+61 450 442 121</a>
        </div> <!--end of colum div-->
        <div class="col">
            <h5>Follow us on Social Media: </h5>
            <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fab fa-youtube-square fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
        </div> <!--end of colum div-->
    </div><!-- end of row -->
</div> <!-- end of footer div -->
