<div class="profile-card">
    <h6 class="sub-title">More Options</h6>
    <hr>
      <%= link_to("Edit Profile", edit_user_registration_path)%><br><br>
      <%= link_to "Job Requests", requests_path%>
</div>
